.cart {
  display: flex;
  align-items: center;
  &__icon {
    margin-right: 15px;
    position: relative;
  }
  &__qtyBubble {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: absolute;
    color: #FFF;
    font-size: 9px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    top: 0;
    right: -8px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__price {
    color: #9BA1AA;
  }
}
