.breadcrumb {
  &__list {
    list-style-type: none;
    margin: 0;
    & li {
      display: inline-block;
      margin: 0 15px;
      position: relative;
      &::after {
        content:"";
        position: absolute;
        background-color: #000;
        bottom: 0;
        right: -15px;
        height: 100%;
        width: 1.5px;
        transform: rotate(15deg);
      }
      &:last-of-type {
        &::after {
          display: none;
          margin-right: 0;
        }
      }
      &:first-of-type {
        color: #7B7B7B;
      }
    }
  }
}