.product {
  &:hover .product__buttonsCont {
    opacity: 1;
    transition: opacity 0.5s;
  }
  &__imgCont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px 0 10px 0;
    position: relative;
  }
  &__buttonsCont {
    position: absolute;
    opacity: 0;
    display: flex;
    transition: opacity 0.5s;
  }
  &__button {
    background-color: #ECECEC;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
  }
  &__starRating {
    background-color: #fff;
    padding: 10px 10px 20px;
  }
  &__title {
    padding-top: 20px;
    font-weight: 400;
  }
  &__price {
    font-size: 23px;
    padding-top: 10px;
    font-weight: bold;
  }
}