.productShowcase {
  background-image: url("../../public/images/background.png");
  background-repeat: repeat;
  background-size: 100% auto;
  padding: 40px 0;
  &__titleCont {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  &__productsList {
    padding: 40px 0;
    //display: grid;
    //grid-template-columns: repeat(4, 1fr);
  }
}

.slide {
  width: 100%;
  min-height: 100%;
}

.customArrow {
  z-index: 99;
  position: absolute;
  top: 46%;
  height: 40px;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  display: none;
  @media (min-width: 991px) {
    display: block;
  }
  &Right {
    right: -70px;
  }
  &Left {
    left: -70px;
  }
}