.twoColumns {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
    @media (min-width: 991px) {
        grid-template-columns: 2fr 1fr;
    }
}

.card {
    border: solid 2px #E1E1E1;
    border-top: solid 5px #E1E1E1;
    box-shadow: 0 4px 2px -2px #e9e9e9;
    margin-top: 20px;
    color: #414141;
    &__header {
        border-bottom: solid 2px #E1E1E1;
        padding: 25px;
        display: flex;
        justify-content: space-between;
    }
    &__content {
        padding: 25px;
    }
    &__footer {
        padding-top: 25px;
        color: #414141;
    }
}

.button {
    background-color: #7B7B7B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px 5px;
    text-transform: uppercase;
}

.backLink {
    display: flex;
    align-items: center;
}

.discCode {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    & input {
        height: 100%;
        margin: 0 10px;
        padding: 14px 4px;
        border: solid 1px #d8d8d8;
    }
    & .button {
        background-color: #333333;
    }
}
